@model Veam.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Veam.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}


 

    @if (appUser.HomeRole)
    {
        <li class="@Html.IsSelected(controller: "Home")">
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-bar-chart"></i> <span>DashBoard</span>
            </a>
        </li>
    }
