@model Veam.EAM.ViewModels.AssetSaveVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row ">
    <div class="col-md-12">
        @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="assetId" />
            <div class="separator text-bold">
                <a data-toggle="collapse" data-parent="#accordion" href="#general" class="text-red">General Data </a>
            </div>
            <div id="general" class="panel-collapse collapse in">
                <div class=" row">
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="assetName" class="control-label"></label>
                            <input asp-for="assetName" class="form-control" />
                            <span asp-validation-for="assetName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            <label asp-for="assetTag" class="control-label"></label>
                            <input asp-for="assetTag" class="form-control" />
                            <span asp-validation-for="assetTag" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="serialNo" class="control-label"></label>
                            <input asp-for="serialNo" class="form-control" />
                            <span asp-validation-for="serialNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="separator text-bold">
                <a data-toggle="collapse" data-parent="#accordion" href="#AssetModel" class="text-red">Asset Model Details</a>

            </div>

            <div id="AssetModel" class=" collapse in">
                <div class="row">

                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="modalname" class="control-label"></label>
                            <input asp-for="modalname" class="form-control" />
                            <span asp-validation-for="modalname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="modelNo" class="control-label"></label>
                            <input asp-for="modelNo" class="form-control" />
                            <span asp-validation-for="modelNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group widget example col-xl-6">
                            <label asp-for="product" class="control-label"></label>
                            <select asp-for="product" class="form-control select2" asp-items="@Model.Products"></select>
                            @*<select asp-for="product" class="form-control select2" asp-items="@ViewBag.ProductName"></select>*@
                            @*<div mvc-lookup-for="product" url="~/Lookup/modelLookup" title="Asset Models" rows="10"></div>*@
                            <span asp-validation-for="product" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="brand" class="control-label"></label>
                            <input asp-for="brand" class="form-control" />
                            <span asp-validation-for="brand" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>



            <br>
        @*</form>*@
    </div>
</div>



@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts {

    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>


}
