@model Veam.EAM.ViewModels.AssetQueryVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fab fa-artstation";
    ViewData["ListTitle"] = "List Of Assets";
    ViewData["IndexInfo"] = "It created MasterData for Products";
}

fhhjjhjh

<div mvc-lookup-for="assetId" url="~/Lookup/AssetLookup" title="Asset Models" rows="10"></div>