@model Veam.EAM.ViewModels.CheckoutVM

<div class="row">
    <div class="col-md-12">
        <div class=" row">
           <!---assettable for child table to select associte it with parent asset
               first selct parent asset which will show its details and reload table minus parent
               and then selct child assets-->

           
        </div>
    </div>
</div>

