@model Veam.EAM.ViewModels.CheckoutVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <partial name="_CommonReqInfo" />
        <partial name="_AssignInfo" />
        <partial name="_ToLocation" />

        @*<div class=" row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toLocation.centerId" class="control-label"></label>
                    <select id="centerList" asp-for="toLocation.centerId" class="form-control select2" asp-items="@Model.CenterList"></select>
                    <span asp-validation-for="toLocation.centerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toLocation.hallId " class="control-label"></label>
                    <select id="hallList" asp-for="toLocation.hallId" class="form-control select2" asp-items="@Model.HallList"></select>
                    <span asp-validation-for="toLocation.hallId" class="text-danger"></span>
                </div>
            </div>

        </div>*@

        <div class=" row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="assetId" class="control-label"></label>
                    <select asp-for="assetId" class="form-control" asp-items="ViewBag.assetId"></select>
                </div>
            </div>

        </div>
        @*<partial name="_assetList" />*@
    </div>
</div>



@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts {

    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
        //$(document).ready(function () {
        //    loadHallByCenter();
        //});
        
       @*function loadHallByCenter() {
             $('#centerList').change(function () {
           var url = '@Url.Content("~/")' + "Select/GetHallbyCenterId";
             $.getJSON(url, { centerId: $("#centerList").val() }, function (data) {
            var items = '';
            $("#hallList").empty();
            $.each(data, function (i, section) {
                items += "<option value='" + section.value + "'>" + section.text + "</option>";
            });
                 $('#hallList').html(items);
                });
         });
        };*@
    </script>
}
