@model Veam.EAM.ViewModels.AssetPurchaseQueryVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}

<div>
    
    <dl class="dl-horizontal">
        
        
        
        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>
      
    </dl>
    
    
</div>
